.cell {
    width: 100px;
    height: 100px;
    outline: 1px #000 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.prefilled{
    cursor: auto;
}

.notesList{
    position: absolute;
    margin-bottom: 70px;
    font-size: 10px;
}
